<mat-card  appearance="outlined">
  <mat-card-header>
    <mat-card-title class="mat-card-title-dashboard"  >SR &amp; ED Summary</mat-card-title>
    </mat-card-header>
  <mat-card-content>

<div style="width: 100%; height: auto; margin: 20px 0;">
  <ag-grid-angular *ngIf="isBrowser"
                   style="width: 100%; height: auto;"

                   class="ag-theme-balham"
                   [columnDefs]="columnDefs"
                   [rowData]="rowData"
                   [domLayout]="'autoHeight'"
                   [pagination]="true"
                   [paginationPageSize]="5">
  </ag-grid-angular>
</div>

</mat-card-content>

</mat-card>
